sensor:
  - platform: modbus_controller
    modbus_controller_id: epever
    id: dttv
    address: 0x901E
    name: "Day Time Threshold Voltage"
    entity_category: diagnostic
    unit_of_measurement: "V"
    register_type: holding
    value_type: U_WORD
    skip_updates: 10
    filters:
      - multiply: 0.01

  - platform: modbus_controller
    modbus_controller_id: epever
    id: light_signal_startup_delay_time
    address: 0x901F
    name: "Light signal startup delay time"
    entity_category: diagnostic
    unit_of_measurement: "mins"
    register_type: holding
    value_type: U_WORD
    skip_updates: 10
    filters:
      - multiply: 0.01

  - platform: modbus_controller
    modbus_controller_id: epever
    id: light_time_threshold_voltage
    address: 0x9020
    name: "Light Time Threshold Voltage"
    entity_category: diagnostic
    unit_of_measurement: "mins"
    register_type: holding
    value_type: U_WORD
    skip_updates: 10
    filters:
      - multiply: 0.01

  - platform: modbus_controller
    modbus_controller_id: epever
    id: light_signal_close_delay_time
    address: 0x9021
    name: "Light signal close delay time"
    entity_category: diagnostic
    unit_of_measurement: "mins"
    register_type: holding
    value_type: U_WORD
    skip_updates: 10
    filters:
      - multiply: 0.01

  - platform: modbus_controller
    modbus_controller_id: epever
    id:
      load_controlling_modes
      # 0000H Manual Control
      # 0001H Light ON/OFF
      # 0002H Light ON+ Timer/
      # 0003H Time Control
    address: 0x903D
    name: "Load controlling modes"
    entity_category: diagnostic
    register_type: holding
    accuracy_decimals: 0
    value_type: U_WORD
    skip_updates: 10

  - platform: modbus_controller
    modbus_controller_id: epever
    id: working_time_length_1
    # The length of load output timer1,
    # D15-D8,hour, D7-D0, minute
    address: 0x903E
    name: "Working_time length 1"
    entity_category: diagnostic
    register_type: holding
    accuracy_decimals: 0
    value_type: U_WORD
    skip_updates: 10

  - platform: modbus_controller
    modbus_controller_id: epever
    id: working_time_length_2
    address: 0x903F
    name: "Working_time length 2"
    entity_category: diagnostic
    register_type: holding
    accuracy_decimals: 0
    value_type: U_WORD
    skip_updates: 10

  - platform: modbus_controller
    modbus_controller_id: epever
    id: turn_on_timing_1_seconds
    address: 0x9042
    name: "Turn on timing 1 seconds"
    entity_category: diagnostic
    register_type: holding
    accuracy_decimals: 0
    value_type: U_WORD
    skip_updates: 10

  - platform: modbus_controller
    modbus_controller_id: epever
    id: turn_on_timing_1_minutes
    address: 0x9043
    name: "Turn on timing 1 minutes"
    entity_category: diagnostic
    register_type: holding
    accuracy_decimals: 0
    value_type: U_WORD
    skip_updates: 10

  - platform: modbus_controller
    modbus_controller_id: epever
    id: turn_on_timing_1_hours
    address: 0x9044
    name: "Turn on timing 1 hours"
    entity_category: diagnostic
    register_type: holding
    accuracy_decimals: 0
    value_type: U_WORD
    skip_updates: 10

  - platform: modbus_controller
    modbus_controller_id: epever
    id: turn_off_timing_1_seconds
    address: 0x9045
    name: "Turn off timing 1 seconds"
    entity_category: diagnostic
    register_type: holding
    accuracy_decimals: 0
    value_type: U_WORD
    skip_updates: 10

  - platform: modbus_controller
    modbus_controller_id: epever
    id: turn_off_timing_1_minutes
    address: 0x9046
    name: "Turn off timing 1 minutes"
    entity_category: diagnostic
    register_type: holding
    accuracy_decimals: 0
    value_type: U_WORD
    skip_updates: 10

  - platform: modbus_controller
    modbus_controller_id: epever
    id: turn_off_timing_1_hours
    address: 0x9047
    name: "Turn off timing 1 hours"
    entity_category: diagnostic
    register_type: holding
    accuracy_decimals: 0
    value_type: U_WORD
    skip_updates: 10

  - platform: modbus_controller
    modbus_controller_id: epever
    id: turn_on_timing_2_seconds
    address: 0x9048
    name: "Turn on timing 2 seconds"
    entity_category: diagnostic
    register_type: holding
    accuracy_decimals: 0
    value_type: U_WORD
    skip_updates: 10

  - platform: modbus_controller
    modbus_controller_id: epever
    id: turn_on_timing_2_minutes
    address: 0x9049
    name: "Turn on timing 2 minutes"
    entity_category: diagnostic
    register_type: holding
    accuracy_decimals: 0
    value_type: U_WORD
    skip_updates: 10

  - platform: modbus_controller
    modbus_controller_id: epever
    id: turn_on_timing_2_hours
    address: 0x904A
    name: "Turn on timing 2 hours"
    entity_category: diagnostic
    register_type: holding
    accuracy_decimals: 0
    value_type: U_WORD
    skip_updates: 10

  - platform: modbus_controller
    modbus_controller_id: epever
    id: turn_off_timing_2_seconds
    address: 0x904B
    name: "Turn off timing 2 seconds"
    entity_category: diagnostic
    register_type: holding
    accuracy_decimals: 0
    value_type: U_WORD
    skip_updates: 10

  - platform: modbus_controller
    modbus_controller_id: epever
    id: turn_off_timing_2_minutes
    address: 0x904C
    name: "Turn off timing 2 minutes"
    entity_category: diagnostic
    register_type: holding
    accuracy_decimals: 0
    value_type: U_WORD
    skip_updates: 10

  - platform: modbus_controller
    modbus_controller_id: epever
    id: turn_off_timing_2_hours
    address: 0x904D
    name: "Turn off timing 2 hours"
    entity_category: diagnostic
    register_type: holding
    accuracy_decimals: 0
    value_type: U_WORD
    skip_updates: 10

  - platform: modbus_controller
    modbus_controller_id: epever
    id: backlight_time
    address: 0x9063
    name: "Backlight time"
    entity_category: diagnostic
    register_type: holding
    accuracy_decimals: 0
    unit_of_measurement: "s"
    value_type: U_WORD
    skip_updates: 10

  - platform: modbus_controller
    modbus_controller_id: epever
    id: length_of_night_minutes
    address: 0x9065
    internal: true
    bitmask: 0xFF
    unit_of_measurement: "m"
    name: "Length of night-mins"
    entity_category: diagnostic
    register_type: holding
    value_type: U_WORD
    skip_updates: 10

  - platform: modbus_controller
    modbus_controller_id: epever
    id: length_of_night
    address: 0x9065
    bitmask: 0xFF00
    unit_of_measurement: "m"
    name: "Length of night"
    entity_category: diagnostic
    register_type: holding
    value_type: U_WORD
    skip_updates: 10
    filters:
      - lambda: return id(length_of_night_minutes).state  + ( 60 * x);

