wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Esphome Fallback Hotspot"

text_sensor:
- platform: wifi_info
  ip_address:
    name: "IP Address"

sensor:
  - platform: wifi_signal
    name: WiFi Signal
    id: device_wifi_signal
    entity_category: diagnostic
    update_interval: 60s

