# esphome setup data - Most of this will be created when you add your board via the ESPHome Addon in Home Assistant
esphome:
  name: "esphome-modbus-bridge-cbd934" #Change this to the name you want to use
  friendly_name: Solar Controller #Change this to the name you want to use

esp32:
  framework:
    type: esp-idf
  board: esp32dev
  
# Enable logging
logger:
  level: DEBUG
  baud_rate: 115200
  
# Enable Home Assistant API
api:

# ha restart button
button:
  - platform: restart
    name: "Device Restart"

ota:
  - platform: esphome
    password: !secret ota_password

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "esphomemodbus - fallback hotspot"

web_server:
  port: 80
  version: 3 # Enable the web server with the latest version 3.0

captive_portal:
  
# If you want to save battery life, uncomment the following lines to put the device to sleep
# deep_sleep: 
#   id: deep_sleep_enabled
#   run_duration: 5min
#   sleep_duration: 55min

# Modbus uart info - using tx2/rx2 to avoid interfering with standard serial logs
uart:
  baud_rate: 9600
  data_bits: 8
  stop_bits: 1
  parity: NONE
  tx_pin: 16
  rx_pin: 17
  debug:
    direction: BOTH
    after:
      timeout: 100ms
    sequence:
      - lambda: UARTDebug::log_hex(direction, bytes, ' ');

modbus:
  send_wait_time: 100ms
  id: modbus_renogy_master

modbus_controller:
  - id: modbus_renogy
    address: 0x01
    modbus_id: modbus_renogy_master
    allow_duplicate_commands: false
    command_throttle: 100ms
    setup_priority: -10
    update_interval: 30s

# generic esphome device info
text_sensor:
  - platform: wifi_info
    ip_address:
      name: "IP Address"

  - platform: version
    name: "ESPHome Version"

  - id: model_number
    name: Model Number
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x000C
    register_type: holding
    register_count: 8
    response_size: 16
    
sensor:

# wifi sensor
  - id: device_wifi_signal
    name: WiFi Signal Strength
    platform: wifi_signal
    entity_category: diagnostic
    update_interval: 60s

# uptime sensor
  - platform: uptime
    name: Device Uptime
    id: device_uptime
    entity_category: diagnostic
    accuracy_decimals: 0
    unit_of_measurement: min
    update_interval: 60s
    filters:
      - lambda: return x / 60;

# product info
  - id: product_software
    name: Software version
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x014
    value_type: U_DWORD
    register_type: holding
    
  - id: product_hardware
    name: Hardware version
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x016
    value_type: U_DWORD
    register_type: holding

  - id: product_serial
    name: Serial number
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x018
    value_type: U_DWORD
    register_type: holding

# battery sensors
  - id: battery_charge_pct
    name: Battery Percentage Charged
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0100
    unit_of_measurement: '%'
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 0

  - id: battery_voltage
    name: Battery Voltage
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0101
    unit_of_measurement: 'V'
    device_class: voltage
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 2
    filters:
      - multiply: 0.1

  - id: battery_charge_current
    name: Panel to Battery Amps
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0102
    unit_of_measurement: 'A'
    device_class: current
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 2
    filters:
      - multiply: 0.01

## missing: capacity

# Load Sensors
  - id: load_voltage
    name: Load Voltage
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0104
    unit_of_measurement: 'V'
    device_class: voltage
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 2
    filters:
      - multiply: 0.1

  - id: load_current
    name: Load Current
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0105
    unit_of_measurement: 'A'
    device_class: current
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 2
    filters:
      - multiply: 0.01

  - id: load_watts
    name: Load Power
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0106
    unit_of_measurement: 'W'
    device_class: power
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 0

# Solar Panel Sensors
  - id: panel_voltage
    name: Panel Voltage
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0107
    unit_of_measurement: 'V'
    device_class: voltage
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 2
    filters:
      - multiply: 0.1

  - id: panel_current
    name: Panel to Controller Current
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0108
    unit_of_measurement: 'A'
    device_class: current
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 2
    filters:
      - multiply: 0.01

  - id: panel_watts
    name: Panel Power
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0109
    unit_of_measurement: 'W'
    device_class: power
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 0

  - id: battery_min_volts_day
    name: Battery Voltage Minium for Day
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x010B
    unit_of_measurement: 'V'
    device_class: voltage
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 2
    filters:
      - multiply: 0.1

  - id: battery_max_volts_day
    name: Battery Voltage Max for Day
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x010C
    unit_of_measurement: 'V'
    device_class: voltage
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 2
    filters:
      - multiply: 0.1

  - id: panel_max_watts_day
    name: Panel Watts Max for Day
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x010F
    unit_of_measurement: 'W'
    device_class: power
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 2
    filters:
      - multiply: 0.1
  
  - id: charging_state
    name: Charging State
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x120
    bitmask: 0xff
    value_type: U_WORD
    register_type: holding

  - id: controller_status
    name: Controller Status
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x121
    value_type: U_DWORD # 32 bits here
    register_type: holding

  - id: voltage_setting
    name: Voltage Configuration
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    value_type: U_WORD
    register_type: holding
    address: 0xE003
    # need to split this into lower and higher bits, and then decompose

  - id: battery_type
    name: Battery Configuration
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    value_type: U_WORD
    register_type: holding
    address: 0xE004
    # map the resulting values out

  - id: load_mode
    name: Load mode Configuration
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    value_type: U_WORD
    register_type: holding
    address: 0xE01D
    # map

switch:
  - id: load_enable
    name: Enable Load Output
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x010A
    register_type: holding
    entity_category: config
    icon: "mdi:toggle-switch"
    # force boolean output value to modbus
    write_lambda: |-
      return !!x;

