esphome:
  name: "esphome-modbus-bridge-cbd934"
  friendly_name: Renogy Solar Charge Controller

esp32:
  framework:
    type: esp-idf
  board: esp32dev

# Enable logging
logger:
  level: DEBUG
  baud_rate: 115200

# Enable Home Assistant API
api:

# ha restart button
button:
  - platform: restart
    name: "Device Restart"

ota:
  - platform: esphome
    password: !secret ota_password

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "esphomemodbus - fallback hotspot"

web_server:
  port: 80
  version: 3 # Enable the web server with the latest version 3.0

captive_portal:

# If you want to save battery life, uncomment the following lines to put the device to sleep
# deep_sleep:
#   id: deep_sleep_enabled
#   run_duration: 5min
#   sleep_duration: 55min

# Modbus uart info - using tx2/rx2 to avoid interfering with standard serial logs
uart:
  baud_rate: 9600
  data_bits: 8
  stop_bits: 1
  parity: NONE
  tx_pin: 16
  rx_pin: 17
  # uncomment this to debug the serial data tx >>> and rx <<< streams:
  debug:
    direction: BOTH
    after:
      timeout: 100ms
    sequence:
      - lambda: UARTDebug::log_hex(direction, bytes, ' ');

modbus:
  send_wait_time: 100ms
  id: modbus_renogy_master

modbus_controller:
  - id: modbus_renogy
    address: 0x01
    modbus_id: modbus_renogy_master
    allow_duplicate_commands: false
    command_throttle: 100ms
    setup_priority: -10
    update_interval: 30s

# generic esphome device info
text_sensor:
  - platform: wifi_info
    ip_address:
      name: "IP Address"

  - platform: version
    name: "ESPHome Version"

  - id: model_number
    name: Model Number
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x000C
    register_type: holding
    register_count: 8
    response_size: 16

  - id: charging_state
    name: Charging State
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x120
    register_type: holding
    lambda: |-
      switch((char)data[item->offset + 1]) {
        case 0: return std::string("Not charging"); break;
        case 1: return std::string("Charging"); break;
        case 2: return std::string("MPPT charging"); break;
        case 3: return std::string("Equalizing charging"); break;
        case 4: return std::string("Boost charging"); break;
        case 5: return std::string("Floating charging"); break;
        case 6: return std::string("Current limiting (overpower)"); break;
      };
      return std::string("Unknown value");

sensor:
# FIXME use `disabled_by_default: true` liberally to curate basic and advanced settings/sensors
# because it's an overwhelming amount of data. Most users only want or need 5-10 entities.

# wifi sensor
  - id: device_wifi_signal
    name: WiFi Signal Strength
    platform: wifi_signal
    entity_category: diagnostic
    update_interval: 60s

# uptime sensor
  - platform: uptime
    name: Device Uptime
    id: device_uptime
    entity_category: diagnostic
    accuracy_decimals: 0
    unit_of_measurement: min
    update_interval: 60s
    filters:
      - lambda: return x / 60;

# product info
  - id: product_software
    name: Software version
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x014
    value_type: U_DWORD
    register_type: holding

  - id: product_hardware
    name: Hardware version
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x016
    value_type: U_DWORD
    register_type: holding

  - id: product_serial
    name: Serial number
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x018
    value_type: U_DWORD
    register_type: holding

  - id: load_status
    name: Street light (load) status
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x120
    value_type: U_DWORD
    register_type: holding
    # bit 7 is on/off
    lambda: |-
      return !!(data[item->offset] & 0x80);

  - id: load_brightness_value
    name: Street light (load) brightness
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x120
    value_type: U_DWORD
    register_type: holding
    # value 0-100, bits 0-7
    lambda: |-
      return data[item->offset] & 0x7f;

# battery sensors
  - id: battery_charge_pct
    name: Battery Percentage Charged
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0100
    unit_of_measurement: '%'
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 0

  - id: battery_voltage
    name: Battery Voltage
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0101
    unit_of_measurement: 'V'
    device_class: voltage
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 2
    filters:
      - multiply: 0.1

  - id: battery_charge_current
    name: Panel to Battery Amps
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0102
    unit_of_measurement: 'A'
    device_class: current
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 2
    filters:
      - multiply: 0.01

## missing: capacity

# Load Sensors
  - id: load_voltage
    name: Load Voltage
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0104
    unit_of_measurement: 'V'
    device_class: voltage
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 2
    filters:
      - multiply: 0.1

  - id: load_current
    name: Load Current
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0105
    unit_of_measurement: 'A'
    device_class: current
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 2
    filters:
      - multiply: 0.01

  - id: load_watts
    name: Load Power
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0106
    unit_of_measurement: 'W'
    device_class: power
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 0

# Solar Panel Sensors
  - id: panel_voltage
    name: Panel Voltage
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0107
    unit_of_measurement: 'V'
    device_class: voltage
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 2
    filters:
      - multiply: 0.1

  - id: panel_current
    name: Panel to Controller Current
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0108
    unit_of_measurement: 'A'
    device_class: current
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 2
    filters:
      - multiply: 0.01

  - id: panel_watts
    name: Panel Power
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0109
    unit_of_measurement: 'W'
    device_class: power
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 0

  - id: battery_min_volts_day
    name: Battery Voltage 24h Minimum
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x010B
    unit_of_measurement: 'V'
    device_class: voltage
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 2
    filters:
      - multiply: 0.1

  - id: battery_max_volts_day
    name: Battery Voltage 24h Maximum
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x010C
    unit_of_measurement: 'V'
    device_class: voltage
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 2
    filters:
      - multiply: 0.1

  - id: panel_max_current_day
    name: Charge Current 24h Maximum
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x010D
    unit_of_measurement: 'A'
    device_class: current
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 2
    filters:
      - multiply: 0.01

  - id: battery_discharging_max_current_day
    name: Discharging Current 24h Maximum
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x010E
    unit_of_measurement: 'A'
    device_class: current
    register_type: holding
    value_type: U_WORD
    accuracy_decimals: 2
    filters:
      - multiply: 0.01

  - id: panel_max_watts_day
    name: Charge 24h Watts Maximum
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x010F
    unit_of_measurement: 'W'
    device_class: power
    register_type: holding
    value_type: U_WORD

  - id: discharge_max_watts_day
    name: Discharge 24h Watts Maximum
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0110
    unit_of_measurement: 'W'
    device_class: power
    register_type: holding
    value_type: U_WORD

  - id: panel_ah_day
    name: Charge 24h AH
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0111
    unit_of_measurement: 'AH'
    register_type: holding
    value_type: U_WORD

  - id: discharge_ah_day
    name: Discharge 24h AH
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0112
    unit_of_measurement: 'AH'
    register_type: holding
    value_type: U_WORD

  - id: power_generated_day
    name: Power generated today
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0113
    unit_of_measurement: 'kWh'
    register_type: holding
    value_type: U_WORD
    filters:
      - multiply: 0.00001

  - id: power_consumed_day
    name: Power consumed today
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0114
    unit_of_measurement: 'kWh'
    register_type: holding
    value_type: U_WORD
    filters:
      - multiply: 0.00001

  - id: operating_day_count
    name: Number of operating days
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0115
    unit_of_measurement: 'days'
    register_type: holding
    value_type: U_WORD

  - id: over_discharge_count
    name: Number of over-discharges
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0116
    unit_of_measurement: 'days'
    register_type: holding
    value_type: U_WORD

  - id: full_charge_count
    name: Number of days fully charged
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x0117
    unit_of_measurement: 'days'
    register_type: holding
    value_type: U_WORD

  - id: controller_status
    name: Controller Status
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x121
    value_type: U_DWORD # 32 bits here
    register_type: holding
    # FIXME map these all to strings, concatenate



  - id: voltage_setting
    name: Voltage Configuration
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    value_type: U_WORD
    register_type: holding
    unit_of_measurement: 'V'
    device_class: voltage
    address: 0xE003
    # high 8 bits of register is the setting. modbus is MSB
    lambda: |-
      return data[item->offset];

  - id: voltage_recognized
    name: Voltage Recognized
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    value_type: U_WORD
    register_type: holding
    unit_of_measurement: 'V'
    device_class: voltage
    address: 0xE003
    # low 8 bits of register is the detected value
    lambda: |-
      return data[item->offset + 1];

  - id: battery_type
    name: Battery Configuration
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    value_type: U_WORD
    register_type: holding
    address: 0xE004
    # map the resulting values out

  - id: load_mode
    name: Load mode Configuration
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    value_type: U_WORD
    register_type: holding
    address: 0xE01D
    # map

  - id: battery_nominal_capacity
    name: Battery Nominal capacity
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    value_type: U_WORD
    register_type: holding
    address: 0xE002
    unit_of_measurement: 'AH'

  - id: controller_temperature
    name: Controller Temperature
    unit_of_measurement: "C"
    device_class: "temperature"
    accuracy_decimals: 0
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    value_type: U_WORD
    register_type: holding
    address: 0x103
    lambda: |-
      return (signed char)data[item->offset];

  - id: battery_temperature
    name: Battery Temperature
    unit_of_measurement: "C"
    device_class: "temperature"
    accuracy_decimals: 0
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    value_type: U_WORD
    register_type: holding
    address: 0x103
    lambda: |-
      return (signed char)data[item->offset + 1];

switch:
  - id: load_enable
    name: Enable Load Output
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    address: 0x010A
    register_type: holding
    entity_category: config
    icon: "mdi:toggle-switch"
    # force boolean output value to modbus
    write_lambda: |-
      return !!x;

select:
  # this seems not to work. It's according to spec, and the serial conversation
  # confirms it with the modbus doc from renogy, but, the setting doesn't change.
  - id: load_setting
    name: Load Setting
    platform: modbus_controller
    modbus_controller_id: modbus_renogy
    entity_category: config
    address: 0xE01D
    value_type: U_WORD
    icon: "mdi:cog"
    optionsmap:
      "Light control": 0
      "1h": 1
      "2h": 2
      "3h": 3
      "4h": 4
      "5h": 5
      "6h": 6
      "7h": 7
      "8h": 8
      "9h": 9
      "10h": 10
      "11h": 11
      "12h": 12
      "13h": 13
      "14h": 14
      "Manual": 15
      "Debug": 16
      "On": 17

