esphome:
  # area:
  name: "temperature-probe-1b3acd"
  friendly_name: "temperature-probe-1b3acd"

esp8266:
  board: esp01_1m

# Enable logging
logger:
  level: DEBUG
  baud_rate: 115200

# Enable Home Assistant API
api:

ota:
  - platform: esphome
    password: !secret ota_password

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Esphome Fallback Hotspot"

captive_portal:

web_server:
  port: 80

globals:
  - id: temperature_unit_fahrenheit
    type: bool


switch:
  # global celsius (default) / fahrenheit toggle, exposed in the UI.
  - platform: template
    name: "Fahrenheit"
    lambda: |-
      return (id(temperature_unit_fahrenheit));
    turn_on_action:
      - lambda: |-
          id(temperature_unit_fahrenheit) = true;
    turn_off_action:
      - lambda: |-
          id(temperature_unit_fahrenheit) = false;

# ha restart button
button:
  - platform: restart
    name: "Device Restart"

# for ds18b20 (d1)
one_wire:
  - platform: gpio
    pin: GPIO5

# generic device info
text_sensor:
- platform: wifi_info
  ip_address:
    name: "IP Address"
- platform: version
  name: "ESPHome Version"

sensor:
# wifi sensor
  - platform: wifi_signal
    name: WiFi Signal
    id: device_wifi_signal
    entity_category: diagnostic
    update_interval: 60s

# uptime sensor
  - platform: uptime
    name: Uptime
    id: device_uptime
    entity_category: diagnostic
    accuracy_decimals: 0
    unit_of_measurement: min
    update_interval: 60s
    filters:
      - lambda: return x / 60;

# Dallas 1-wire ds18b20
  - platform: dallas_temp
    id: temp
    name: temperature
    update_interval: 5s

display: # d5/d6!
  - platform: tm1637
    id: tm1637_display
    clk_pin: GPIO12
    dio_pin: GPIO14
    update_interval: 5s
    # we don't need to range limit the output to the display. The ds18b20
    # min/max is +125c (257F) and -55C (-67F) which all fit in the display
    # as long as we're not displaying digits.
    lambda: |-
      if (id(temperature_unit_fahrenheit))
        it.printf(0, "%3.0fF", id(temp).state * 1.8 + 32.0);
      else
        if (id(temp).state < 100.0)
          it.printf(0, "%2.1fC", id(temp).state);
        else
          it.printf(0, "%3.0fC", id(temp).state);

