esphome:
  # area:
  name: "temperature-probe-1b3acd"
  friendly_name: "temperature-probe-1b3acd"

esp8266:
  board: esp01_1m

packages:
  - !include standard/wifi.yaml
  - !include standard/basic.yaml

globals:
  - id: temperature_unit_fahrenheit
    type: bool

switch:
  # global celsius (default) / fahrenheit toggle, exposed in the UI.
  - platform: template
    name: "Fahrenheit"
    lambda: |-
      return (id(temperature_unit_fahrenheit));
    turn_on_action:
      - lambda: |-
          id(temperature_unit_fahrenheit) = true;
    turn_off_action:
      - lambda: |-
          id(temperature_unit_fahrenheit) = false;

# for ds18b20 (d1)
one_wire:
  - platform: gpio
    pin: GPIO5

sensor:
  # Dallas 1-wire ds18b20
  - platform: dallas_temp
    id: temp
    name: temperature
    update_interval: 5s

display: # d5/d6!
  - platform: tm1637
    id: tm1637_display
    clk_pin: GPIO12
    dio_pin: GPIO14
    update_interval: 5s
    # we don't need to range limit the output to the display. The ds18b20
    # min/max is +125c (257F) and -55C (-67F) which all fit in the display
    # as long as we're not displaying digits.
    lambda: |-
      if (id(temperature_unit_fahrenheit)) {
        auto f = id(temp).state * 1.8 + 32.0;
        if (f < 100.0)
          it.printf(0, "%2.1fF", f);
        else
          it.printf(0, "%3.0fF", f);
      } else {
        if (id(temp).state < 100.0)
          it.printf(0, "%2.1fC", id(temp).state);
        else
          it.printf(0, "%3.0fC", id(temp).state);
      }

